<html>
    <head>
        <title>WEATHER</title>
        <link rel="icon" href="./img/weather.png">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        {{>header}}
        <div class="main-content container py-2">  
        <h5>Use this site to get your weather...</h5>
        <form class="py-2">
            <div class="col-md-6">
                <input placeholder="Location..." class="form-control">
            </div>
            <button class="btn btn-primary my-1">Search</button>
        </form>
        <p id='message-1'></p>
        <p id='message-2'></p>
        </div>
        <script src="./javascript/scipts.js"></script>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    </body>
</html> 